.header {
  display: flex;
  justify-content: space-between;
  min-height: 103px;

  &__menu {

  }

  &__menu-list {
  }

  &__menu-item {
  }

  &__phone {
  }

  &__phone-icon {
  }
}

.inner-wrapper {
}

.logo {
}
