footer.footer
  ._wrapper
    .copyright
      p._copyright-text CleverBaby © #[span.copyright__year 2020] Все права защищены
      p._developer Разработка&nbsp;—&nbsp;
        a._developer-link(href='https://github.com/IvanMonichev' target='_blank') Ivan Monichev
    p._privacy-policy Политика конфиденциальности

