footer.footer
  ._wrapper
    .copyright
      p._copyright-text CleverBaby © Все права защищены
      p._developer Разработчик&nbsp;—&nbsp;
        a._developer-link(href='https://github.com/IvanMonichev' target='_blank') Ivan Monichev
    p._privacy-policy Политика конфиденциальности

