header.header#header
  ._wrapper
    button.burger(type='button')
      div.burger__middle-line
    svg._logo
      use(xlink:href='../../images/svg/sprite.svg#icon-logo')
    ._box
      nav.header__menu
        ul.header__menu-list
          li.header__menu-item
            a.header__menu-link(href="#process") Методика
          li.header__menu-item
            a.header__menu-link(href="#our-teachers") Преподаватели
          li.header__menu-item
            a.header__menu-link(href="#our-groups") Группы
          li.header__menu-item
            a.header__menu-link(href="#") Отзывы
          li.header__menu-item
            a.header__menu-link(href="#contacts") Контакты
      a.header__phone.-menu(href='tel:74959834719')
        svg.header__phone-icon
          use(xlink:href='../../images/svg/sprite.svg#icon-phone')
        span.header__phone-number +7 (495) 983-47-19
    a.header__phone(href='tel:74959834719')
      svg.header__phone-icon
        use(xlink:href='../../images/svg/sprite.svg#icon-phone')
      span.header__phone-number +7 (495) 983-47-19
