main
  include ../components/_lead
  include ../components/_process
  include ../components/_advantages
  include ../components/_our-groups
  include ../components/_our-teachers
  include ../components/_invitation
