/* stylelint-disable */
/* COLORS */

$color-white: #FEFCFA;
$color-blue-zodiac: #122659;
$color-grandis: #FFD787;

$font-rubik-family: Rubik, "Arial", sans-serif;

$margin-container-desktop: 396px;

$breakpoint_xl: 1280px;
$breakpoint_lg: 1110px;
$breakpoint_md: 800px;
$breakpoint_xs: 576px;


