.header {
  display: flex;
  min-height: 103px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 196px);
    max-width: 1366px;
    margin: 0 auto;
  }

  &__logo {
    align-self: center;
    width: 143px;
    height: 23px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    align-self: center;
    margin-left: 57px;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__menu-item {
    margin-right: 20px;

    &:nth-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    font-size: 16px;
    line-height: 1.4;
    color: $color-blue-zodiac;
    text-decoration: none;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__phone {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-self: center;
    margin-left: auto;
    text-decoration: none;
    transition: all 0.3s;

    &--hidden {
      display: none;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__phone-icon {
    align-self: center;
    width: 15px;
    height: 15px;
  }

  &__phone-number {
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: $color-blue-zodiac;
  }

  .burger {
    position: relative;
    display: none;
    width: 24px;
    height: 12px;
    margin-right: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #122659;
    }

    &__middle-line {
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #122659;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #122659;
    }
  }
}

@include large {
  .header {
    &__box {
      display: none;
    }

    .burger {
      display: block;
    }
  }
}
