.header {
  display: flex;
  min-height: 103px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 196px);
    max-width: 1366px;
    margin: 0 auto;
  }

  &__logo {
    align-self: center;
    width: 143px;
    height: 23px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    margin-left: 57px;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__menu-item {
    margin-right: 20px;

    &:nth-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    font-size: 16px;
    line-height: 1.4;
    color: $color-blue-zodiac;
    text-decoration: none;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__phone {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    margin-left: auto;
    text-decoration: none;
    transition: all 0.3s;

    &--menu {
      display: none;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__phone-icon {
    align-self: center;
    width: 15px;
    height: 15px;
  }

  &__phone-number {
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: $color-blue-zodiac;
  }

  .burger {
    position: relative;
    display: none;
    width: 24px;
    height: 12px;
    margin-right: 25px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #122659;
      transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    }

    &__middle-line {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #122659;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: #122659;
      transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    }

    &--is-active {
      .burger__middle-line {
        opacity: 0;
      }

      &::before {
        top: 5px;
        transition: top 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 5px;
        transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
        transform: rotate(45deg);
      }
    }
  }
}

@include large {
  .header {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 103px;
      content: "";
      background-color: white;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      width: calc(100% - $margin-container-tablet);
      max-width: 1110px;
      margin: 0 auto;
    }

    &__box {
      position: absolute;
      top: -375px;
      right: 0;
      z-index: 1;
      flex-direction: column;
      width: 100%;
      padding: 40px 0 45px 45px;
      background-color: $color-white;
      transition: top 0.6s ease-in;

      &--is-active {
        top: 103px;
      }
    }

    &__logo {
      z-index: 3;
    }

    &__menu {
      margin-left: 0;
    }

    &__menu-list {
      flex-direction: column;
    }

    &__menu-item {
      margin-right: 0;
      margin-bottom: 30px;

      &:nth-child {
        margin-bottom: 0;
      }
    }

    &__phone {
      z-index: 3;

      &--menu {
        display: block;
        margin-left: 0;
      }
    }

    &__menu-link {
      font-size: 22px;
    }

    .burger {
      z-index: 3;
      display: block;
    }
  }
}

@include small {
  .header {
    min-height: 77px;

    &::before {
      height: 77px;
    }

    &__wrapper {
      width: calc(100% - $margin-container-mobile);
      max-width: 576px;
    }

    &__box {
      padding: 35px 0 40px 15px;

      &--is-active {
        top: 77px;
      }
    }

    &__menu-item {
      margin-bottom: 25px;
    }

    &__menu-link {
      font-size: 18px;
    }

    &__phone {
      display: none;

      &--menu {
        display: block;
      }
    }
  }
}
