.our-teachers {
  margin: 130px 0 0;

  &__wrapper {
    position: relative;
    width: calc(100% - $margin-container-desktop);
    max-width: 970px;
    margin: 0 auto;
  }

  &__decorate-pencil {
    position: absolute;
    top: 338px;
    left: -144px;
    width: 44px;
    height: 132px;
  }

  &__decorate-house {
    position: absolute;
    top: 0;
    right: -103px;
    width: 58px;
    height: 97px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 57px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: $font-rubik-family;
    font-size: 36px;
    line-height: 1.4;
  }

  &__description {
    max-width: 350px;
    font-size: 16px;
    line-height: 1.45;
  }

  .slider {
    overflow: hidden;

    &__list {
      display: grid;
      grid-auto-flow: column;
      row-gap: 20px;
      list-style: none;
    }

    &__list-item {
      width: 220px;
    }

    &__image {
      width: 220px;
      height: 219px;
      margin: 0 auto 20px;
      border-radius: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 12px;
      }
    }

    &__name {
      margin: 0 0 15px;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
    }

    &__country {
      font-size: 16px;
      line-height: 1.45;
      color: #677085;
      text-align: center;
    }

    &__navigation {
      display: flex;
      justify-content: center;
      margin: 50px auto 0;
    }

    &__navigation-btn {
      width: 17px;
      height: 10px;
      cursor: pointer;
      background-color: inherit;
      border: none;

      &:hover {
        transform: translateX(10px);
      }

      &--prev {
        margin-right: 14px;
        background-image: url("../../images/svg/btn-arrow-left.svg");
        transition: transform 0.3s;

        &:hover {
          transform: translateX(-3px);
        }
      }

      &--next {
        background-image: url("../../images/svg/btn-arrow-right.svg");
        transition: transform 0.3s;

        &:hover {
          transform: translateX(3px);
        }
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .our-teachers {
    &__wrapper {
      width: calc(100% - $margin-container-tablet);
      max-width: 1300px;
    }

    &__decorate-house {
      display: none;
    }
  }
}

@include small {
  .our-teachers {
    margin-top: 60px;

    &__header {
      flex-direction: column;
      margin: 0 0 40px;
    }

    &__title {
      font-size: 22px;
      line-height: 1.15;
    }

    &__description {
      font-size: 14px;
      line-height: 1.45;
    }

    &__wrapper {
      width: calc(100% - $margin-container-mobile);
      max-width: 576px;
    }

    &__decorate-house {
      top: 0;
      right: 15px;
      display: block;
      width: 30px;
      height: 48px;
    }

    .slider {
      &__image {
        width: 290px;
        height: 232px;
      }

      &__name {
        margin: 0 0 10px;
        font-size: 16px;
      }

      &__country {
        font-size: 16px;
      }

      &__navigation {
        position: absolute;
        bottom: 20px;
        justify-content: space-between;
        width: 100%;
        margin: 0;
      }
    }
  }
}
