.process {
  margin: 130px 0 0;

  &__wrapper {
    position: relative;
    width: calc(100% - $margin-container-desktop);
    max-width: 970px;
    margin: 0 auto;
  }

  &__decorate-girl {
    position: absolute;
    top: 124px;
    left: -148px;
    width: 87.75px;
    height: 114.19px;
  }

  &__decorate-rocket {
    position: absolute;
    top: -57px;
    right: -42px;
    width: 135px;
    height: 68px;
  }

  &__title {
    margin: 0 0 80px;
    font-family: $font-rubik-family;
    font-size: 36px;
    line-height: 1.4;
    color: $color-blue-zodiac;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 86px;
  }

  &__content-text {
    max-width: 431px;
  }
}

.text-block {
  max-width: 431px;

  &__title {
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }

  &__paragraph {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 1.45;

    &:nth-last-child {
      margin: 0;
    }
  }
}

.video-block {
  &__title {
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
  }

  &__video {
    position: relative;
    width: 431px;
    height: 231px;
    overflow: hidden;
    border-radius: 12px;

    &--is-playble {
      img,
      button {
        display: none;
      }
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__video-player {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-right: 12px;
    object-fit: cover;
  }

  &__btn-play {
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
    z-index: 2;
    display: block;
    width: 51px;
    height: 51px;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../../images/button-play.png");
    border: none;
    border-radius: 50%;
    outline: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

@include extra-large {
  .video-block {
    &__title {
      text-align: left;
    }

    &__video {
      width: 354px;
      height: 262px;
    }
  }
}

@include large {
  .process {
    margin: 110px 0 0;

    &__title {
      margin: 0 0 33px;
    }
    &__wrapper {
      width: calc(100% - $margin-container-tablet);
      max-width: 1110px;
    }

    &__content {
      column-gap: 41px;
    }

    &__decorate-rocket {
      position: absolute;
      top: -37px;
      right: -3px;
      width: 101px;
      height: 50px;
    }
  }

  .text-block  {
    &__title {
      font-size: 16px;
      max-width: 196px;
    }

    &__paragraph {
      font-size: 14px;
    }
  }

  .video-block {
    &__title {
      font-size: 16px;
      max-width: 250px;
    }
  }
}