/* stylelint-disable */
/* COLORS */

$color-white: #FEFCFA;
$color-blue-zodiac: #122659;
$color-grandis: #FFD787;

$font-rubik-family: Rubik, "Helvetica Neue", Helvetica, sans-serif;

$breakpoint_xl: 1280px;
$breakpoint_lg: 1110px;
$breakpoint_md: 800px;
$breakpoint_xs: 576px;

$font_unica_one: "Unica One", "Helvetica Neue", Helvetica, sans-serif;


