$saturated_blue: #004a85;
$grayish_blue: #434D59;
$pink_antique: #d97f77;
$white: #fff;
$gainsborough: #e8e8e8;

$breakpoint_xl: 1280px;
$breakpoint_lg: 1110px;
$breakpoint_md: 800px;
$breakpoint_xs: 576px;

$font_unica_one: "Unica One", "Helvetica Neue", Helvetica, sans-serif;


