header.header
  div.inner-wrapper
    div.logo
  nav.header__menu
    ul.header__menu-list
      li.header__menu-item Методика
      li.header__menu-item Преподаватели
      li.header__menu-item Группы
      li.header__menu-item Отзывы
      li.header__menu-item Контакты
  div.header__phone
    div.header__phone-icon
    a(href='tel:74959834719') + 7 (495) 983-47-19
