header.header
  div.header__wrapper
    svg.header__logo
      use(xlink:href='../../images/svg/sprite.svg#icon-logo')
    nav.header__menu
      ul.header__menu-list
        li.header__menu-item
          a.header__menu-link(href="#") Методика
        li.header__menu-item
          a.header__menu-link(href="#") Преподаватели
        li.header__menu-item
          a.header__menu-link(href="#") Группы
        li.header__menu-item
          a.header__menu-link(href="#") Отзывы
        li.header__menu-item
          a.header__menu-link(href="#") Контакты
    a.header__phone(href='tel:74959834719')
      svg.header__phone-icon
        use(xlink:href='../../images/svg/sprite.svg#icon-phone')
      span.header__phone-number +7 (495) 983-47-19
