section.advantages
  ._wrapper
    ul._list
      li._list-item
        h2._list-title Развитие 10 видов интеллекта
        p._list-text Учимся общаться, развивать эмоциональный, творческий интеллект и многое другое
      li._list-item
        h2._list-title Языковое погружение
        p._list-text Занятия проходят полностью на английском языке, независимо от типа задания
      li._list-item
        h2._list-title Педагоги — носители языка
        p._list-text Занятия ведут преподаватели из США, Великобритании и Канады, для которых английский язык является родным
      li._list-item
        h2._list-title Небольшие группы
        p._list-text Дети занимаются в группах до 5 человек, что позволяет применять индивидуальный подход к каждому
