section.contacts
  ._wrapper
    ._content
      h2._title Мы ждем вас
      ul._list
        li._list-item
          p._subject Приходите к нам:
          p._text Санкт-Петербург,
            br
            | ул. Большая Конюшенная, 19
        li._list-item
          p._subject Режим работы:
          p._text Пн-Сб, с 9-00 до 20-00
        li._list-item
          p._subject Позвоните нам:
          p._text
            a._link(href='tel:+74958934719') + 7 (495) 983-47-19
        li._list-item
          p._subject Напишите нам:
          p._text
            a._link(href='mailto:info@cleverbaby.ru') info@cleverbaby.ru
        li._list-item
          p._subject Мы в соцсетях:
          ul._social
            li._social-item
              a._social-link(href='#')
                svg._social-icon.-facebook
                  use(xlink:href='../../images/svg/sprite.svg#facebook')
            li._social-item
              a._social-link(href='#')
                svg._social-icon.-vk
                  use(xlink:href='../../images/svg/sprite.svg#vk')
            li._social-item
              a._social-link(href='#')
                svg._social-icon.-instagram
                  use(xlink:href='../../images/svg/sprite.svg#instagram')
  div._map#map
