section.invitation
  ._wrapper
    svg._decorate-rainbow
      use(xlink:href='../../images/svg/sprite.svg#decorate-rainbow')
    svg._decorate-boy
      use(xlink:href='../../images/svg/sprite.svg#decorate-boy')
    h2._title Запишитесь на&nbsp;бесплатное пробное занятие
    p._description Приходите к нам в гости и мы познакомим вас с педагогами, расскажем о школе               и ответим на все ваши вопросы
    a.btn-primary._btn(href='#') Записаться
