section.our-teachers
  ._wrapper
    svg._decorate-pencil
      use(xlink:href='../../images/svg/sprite.svg#decorate-pencil')
    svg._decorate-house
      use(xlink:href='../../images/svg/sprite.svg#decorate-house')
    ._header
      h2._title Наши преподаватели
      p._description Все наши преподаватели — носители английского языка и имеют необходимое образование и опыт работы с детьми
    .slider
      ul.slider__list.swiper-wrapper
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-1', 'jpeg', 'Фотография учителя Kate Smith')
          h3.slider__name Kate Smith
          p.slider__country США
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-2', 'jpeg', 'Фотография учителя Samuel King')
          h3.slider__name Samuel King
          p.slider__country США
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-3', 'jpeg', 'Фотография учителя Nikole Young')
          h3.slider__name Nikole Young
          p.slider__country Канада
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-4', 'jpeg', 'Фотография учителя Karoline Bush')
          h3.slider__name Karoline Bush
          p.slider__country Канада
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-1', 'jpeg', 'Фотография учителя Kate Smith')
          h3.slider__name Kate Smith
          p.slider__country США
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-2', 'jpeg', 'Фотография учителя Samuel King')
          h3.slider__name Samuel King
          p.slider__country США
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-3', 'jpeg', 'Фотография учителя Nikole Young')
          h3.slider__name Nikole Young
          p.slider__country Канада
        li.slider__list-item.swiper-slide
          div.slider__image
            +image('teacher-photo-4', 'jpeg', 'Фотография учителя Karoline Bush')
          h3.slider__name Karoline Bush
          p.slider__country Канада
      ._navigation
        button(type='button')._navigation-btn.-prev
        button(type='button')._navigation-btn.-next

