section.our-groups
  ._wrapper
    svg._decorate-star
      use(xlink:href='../../images/svg/sprite.svg#decorate-star')
    ._header
      h2._title Наши группы
      p._description В группах занимается до 5 человек. Все дети в группе примерно одного возраста и уровня знаний.
    ul._list
      li._list-item
        h3._list-title Бэбики-1
        ul._list-text
          li._item-list-text 1 раз в неделю
          li._item-list-text 1,5 часа занятие
          li._item-list-text #[span.-accent 2500 ₽] в месяц
        a._btn(href="#") Записаться
      li._list-item.-yellow
        h3._list-title Бэбики-2
        ul._list-text
          li._item-list-text 2 раз в неделю
          li._item-list-text 1,5 часа занятие
          li._item-list-text #[span.-accent 4000 ₽] в месяц
        a._btn.-yellow(href="#") Записаться
      li._list-item.-pink
        h3._list-title Бэбики-3
        ul._list-text
          li._item-list-text 3 раз в неделю
          li._item-list-text 1 час занятие
          li._item-list-text #[span.-accent 4000 ₽] в месяц
        a._btn.-pink(href="#") Записаться
