section.process
  ._wrapper
    h2._title Как проходит обучение
    div.process__content
      div.text-block.process__content-box
        h3.text-block__title Играя — обучаем, обучая — развиваем
        p.text-block__paragraph Мы взяли все самое лучшее из традиционных и современных методик обучения и развития детей. Обучение английскому языку происходит легко и интересно, ведь малыши не зубрят материал по учебникам, а познают его через игру, сказки, книги и музыку.
        p.text-block__paragraph Наша методика также включает в себя обучение по программе Cambridge. Благодаря этому, наши ученики без труда сдают международные и государственные экзамены.
      div.video-block.process__content-box
        h3._title Посмотрите, как проходят наши занятия
        div.video-block__video
          div.video-block__preview
            +image('toddler-playing', 'jpg', 'Фотография маленького ребёнка')
          video.video-block__video-player(id='video' src='../../videos/sample.mp4' poster='../../images/toddler-playing.jpg' preload='metadata' controls='')
          button.video-block__btn-play(id='video-button' aria-label='Запустить видео')
    svg.process__decorate-girl
      use(xlink:href='../../images/svg/sprite.svg#decorate-girl')
    svg.process__decorate-rocket
      use(xlink:href='../../images/svg/sprite.svg#decorate-rocket')


